@font-face {
	font-family: 'Maza';
	src: url('../fonts/Maza W00 Regular.woff2') format('woff2'),
		url('../fonts/Maza W00 Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
