@mixin vp-1023 {
	@media (max-width: $vp-tablet) {
		@content;
	}
}

@mixin vp-767 {
	@media (max-width: $vp-mobile) {
		@content;
	}
}

@mixin flexCenter($direction: column, $align: center, $justify: center) {
	display: flex;
	flex-direction: $direction;
	align-items: $align;
	justify-content: $justify;
}
