// colors

$main: #343a3f;
$main-50: rgba(52, 58, 63, 0.5);
$blue: #4888ff;
$blue-50: rgba(72, 136, 255, 0.5);
$white: #ffffff;
$grey: #f4f4f4;
$grey-border: #f3f3f3;
$grey-btn-hover: #d4d9dd;

// typography

$rem-087: 0.87rem; // 14px
$rem-1: 1rem; // 16px
$rem-112: 1.12rem; // 18px
$rem-15: 1.5rem; // 24px
$rem-187: 1.87rem; // 30px
$rem-2: 2rem; // 32px

$maza: 'Maza', 'Arial', sans-serif;

// viewport

$vp-tablet: 63.93rem;
$vp-mobile: 47.93rem;

// transition

$transition-300: ease-in 0.3s;
