.btn {
	@include flexCenter(row, center, center);
	background-color: $blue;
	padding: 1rem 1.87rem 1rem 1.87rem;
	border-radius: 0.5rem;
	color: $white;
	border: unset;

	font-size: $rem-087;
	color: $white;
	line-height: 100%;

	&--language {
		background: transparent;
		padding: unset;
		color: $main;
		opacity: 0.4;
	}

	&--active {
		color: $main;
		opacity: 1;
		position: relative;
	}

	&--search {
		padding: 0.68rem 1.25rem 0.68rem 1.25rem;
	}

	&--navigation {
		background-color: $grey;
		padding: 0.68rem 0.65rem;
		font-size: $rem-087;
		color: $main;

		@include flexCenter(row, center, unset);
		gap: 0.62rem;
	}

	&--computer {
		background-color: $grey;
		padding: 0.68rem 0.65rem;
	}

	&--action {
		background-color: transparent;
		border: 1px solid $grey;
		border-radius: 0.25rem;
		padding: 0.75rem 0.75rem 0.75rem 0.75rem;
	}
}
