.choice-menu {
	min-height: 29.68rem;
	background-color: $white;
	border-radius: 0.5rem;
	transition: opacity $transition-300;
	position: absolute;
	top: 101%;
	left: 11.5rem;
	pointer-events: none;
	opacity: 0;
	$root: &;

	@media (max-width: 64rem) {
		width: 100%;
		top: 89%;
	}

	&--show {
		opacity: 1;
		pointer-events: all;
	}

	&--events {
		min-height: 22.06rem;
		left: 17%;

		@media (max-width: 64rem) {
			display: none;
		}
	}

	&--main {
		@media (max-width: 64rem) {
			// left: 0;
			display: none;
		}
	}

	&__main-wrapper {
		@include flexCenter(row, flex-start, unset);
		gap: 2.56rem;
		padding: 1.87rem 0 1.43rem 0;
		min-width: 23.75rem;

		@media (max-width: 64rem) {
			min-width: unset;
			width: 100%;
		}
	}

	&__show-choices {
		position: relative;
	}

	&__phones,
	&__pc,
	&__tv,
	&__audio,
	&__who,
	&__what,
	&__why {
		@include flexCenter(row, flex-start, unset);
		gap: 2.56rem;
		margin-top: 0.62rem;
		transition: opacity $transition-300;

		pointer-events: none;
		opacity: 0;

		position: absolute;

		@media (max-width: 64rem) {
			gap: 2vw;
		}
	}

	&__inner-wrapper {
		@include flexCenter(column, flex-start, unset);
		gap: 1.93rem;
	}

	&__title {
		font-size: $rem-187;
		font-weight: 500;
		line-height: 100%;
	}

	&__show {
		pointer-events: all;
		opacity: 1;
	}

	&--mobile {
		left: 0;
		padding: 2rem 2.5rem 2rem 2.5rem;

		@media (min-width: 64rem) {
			display: none;
		}

		@media (max-width: 31.25rem) {
			padding: 2rem 0.93rem;
		}
	}

	&__info-block {
		@include flexCenter(row, center, space-between);
		width: 100%;
		gap: 0.62rem;
	}

	&__text-info {
		@include flexCenter(column, flex-start, unset);
		gap: 0.5rem;

		+ .header__location-link {
			display: flex;
		}
	}

	&__info-wrapper {
		@include flexCenter(column, flex-start, unset);
		gap: 1.5rem;
	}
}
