.custom-search {
	width: 100%;

	&__label {
		position: relative;
	}

	&__input {
		// width: 49.5vw;
		width: 40.87rem;
		height: 3rem;
		border-radius: 0.5rem;
		border: unset;
		outline: 1px solid $grey;
		padding: 0.87rem 5.12rem 0.87rem 1.5rem;
		margin-right: 0.5rem;

		@media (max-width: 88.75rem) {
			width: 39vw;
		}

		&::placeholder {
			font-size: $rem-087;
			color: $main;
			opacity: 0.5;
		}
	}

	&__btn {
		position: absolute;
		right: 0.25rem;
		top: -0.5rem;
	}
}
