.header {
	position: fixed;
	z-index: 9999 !important;
	top: 0;
	left: 0;
	width: 100dvw;
	$root: &;

	&__top-menu {
		background-color: $grey;
		padding: 0.5rem 0;
	}

	&__top-menu-inner {
		@include flexCenter(row, center, space-between);

		// @media (max-width: 60.62rem) {
		// 	display: grid;
		// 	grid-template-columns: repeat(2, 1fr);
		// 	gap: 0.5rem 1rem;
		// 	justify-content: unset;
		// }

		@media (max-width: 64rem) {
			display: flex;
		}
	}

	&__top-menu-help {
		@include flexCenter(row, center, space-between);
		gap: 0.75rem;

		// @media (max-width: 60.62rem) {
		// 	justify-content: unset;
		// 	flex-direction: column;
		// 	grid-row: span 2;
		// 	justify-content: flex-start;
		// }

		// @media (max-width: 48rem) {
		// }

		@media (max-width: 64rem) {
			@include flexCenter(row, center, space-between);
			width: 100%;

			#{$root}__location-link,
			+ .header__top-menu-info {
				display: none;
			}
		}
	}

	&__location-text,
	&__phone-text,
	&__top-menu-info-text,
	&__top-menu-info-time,
	&__top-menu-navigation-link {
		font-size: $rem-087;
		line-height: 100%;
		transition: color $transition-300;
	}

	&__location-link {
		@include flexCenter(row, center, space-between);
		gap: 0.25rem;

		&:hover,
		&:focus-visible {
			#{$root}__location-text {
				color: $blue;
			}
		}

		@media (max-width: 64rem) {
			width: fit-content;
			gap: 0.5rem;
		}

		@media (max-width: 60.62rem) {
			align-self: flex-start;
		}

		@media (max-width: 31.25rem) {
			display: none;
		}
	}

	&__location-link--mobile {
		@media (min-width: 64rem) {
			display: none;
		}

		@media (max-width: 64rem) {
			display: flex;
		}
	}

	&__phone-link {
		@include flexCenter(row, center, unset);
		gap: 0.5rem;

		&:hover,
		&:focus-visible {
			#{$root}__phone-text {
				color: $blue;
			}
		}

		// @media (max-width: 60.62rem) {
		// 	align-self: flex-start;
		// }

		@media (max-width: 48rem) {
			align-self: unset;
		}
	}

	&__top-menu-info {
		@include flexCenter(row, center, unset);
		gap: 0.75rem;
	}

	&__phone-icon {
		padding: 0 0 0 0.25rem;
	}

	&__location-icon {
		color: $main;
		opacity: 0.5;
	}

	&__top-menu-navigation {
		@include flexCenter(row, center, unset);
		gap: 1rem;

		&--main {
			@media (max-width: 64rem) {
				display: none;
			}
		}

		&--mobile {
			@media (min-width: 64rem) {
				display: flex;
			}
		}
	}

	&__top-menu-navigation--mobile {
		@include flexCenter(column, flex-start, unset);
		gap: 0.1rem;
		width: 100%;

		#{$root}__top-menu-navigation-link {
			width: 100%;
			padding: 0.62rem 0;
			border-bottom: 1px solid $grey-border;
		}
	}

	&__top-menu-navigation-link {
		&:hover,
		&:focus-visible {
			color: $blue;
			//
		}
	}

	&__top-language-menu {
		@include flexCenter(row, center, space-between);
		align-self: flex-start;
		gap: 0.07rem;

		#{$root}__world-icon {
			scale: 0.7;
		}

		@media (min-width: 64rem) {
			display: none;
		}
	}

	&__top-language-menu--mobile {
		@include flexCenter(row, center, space-between);
		align-self: flex-start;
		gap: 0.07rem;
		margin-top: 0.62rem;

		@media (max-width: 64rem) {
			display: none;
		}
	}

	&__language-btns {
		@include flexCenter(row, center, space-between);
		gap: 0.56rem;
		font-size: $rem-087;
	}

	&__language-btn-ru {
		&::after {
			content: '';
			width: 1px;
			height: 0.75rem;
			background-color: $main;
			position: absolute;
			top: 14%;
			right: -0.31rem;
		}
	}

	// header main menu styling

	&__main-menu {
		padding: 1rem 0 1.5rem 0;
		position: relative;
		background-color: $white;

		@media (max-width: 64rem) {
			padding: 0.62rem 0;
		}
	}

	&__main-navigation {
		@include flexCenter(row, flex-start, space-between);
		gap: 2.31rem;

		@media (max-width: 65.62rem) {
			gap: 1vw;
		}
	}

	&__left-menu {
		@include flexCenter(row, flex-start, space-between);
		gap: 3.1vw;

		@media (max-width: 64rem) {
			gap: 1vw;
			align-items: center;
		}
	}

	&__main-link {
		@include flexCenter(column, center, center);
		width: 5rem;
		height: 5rem;
		background-color: $blue;
		border-radius: 50%;

		@media (max-width: 64rem) {
			width: 3.5rem;
			height: 3.5rem;

			#{$root}__main-logo {
				scale: 0.7;
			}
		}
	}

	&__main-link--main {
		@media (max-width: 64rem) {
			display: none;
		}
	}

	&__main-link--mobile {
		@media (min-width: 64rem) {
			display: none;
		}
	}

	&__right-menu-inner {
		@include flexCenter(row, center, unset);
		gap: 3.31rem;

		@media (max-width: 83.75rem) {
			flex-direction: column;
			gap: 1rem;
		}
	}

	&__bottom-language-menu {
		@include flexCenter(row, center, unset);
		align-self: flex-start;
		gap: 0.37rem;
		margin-top: 0.77rem;

		@media (max-width: 83.75rem) {
			align-self: flex-end;
		}

		@media (max-width: 64rem) {
			display: none;
		}
	}

	&__action-icon {
		color: $main;
		transition: color $transition-300;
	}

	&__right-menu-btns {
		@include flexCenter(column, center, unset);
		gap: 1rem;
	}

	&__right-menu-btns-inner {
		@include flexCenter(row, center, unset);
		gap: 1vw;
	}

	&__action-btn {
		#{$root}__action-icon {
			transition: color $transition-300;
		}

		&:hover,
		&:focus-visible {
			#{$root}__action-icon {
				color: $blue;
			}
		}
	}

	&__action-btn--withProduct {
		position: relative;

		&::before {
			content: '20';
			position: absolute;
			top: -26%;
			left: 74%;
			width: 1.56rem;
			height: 1.56rem;
			background-color: $blue;
			color: $white;
			border-radius: 50%;
			@include flexCenter(row, center, center);
		}
	}

	&__computer-btn {
		gap: 0.43rem;
		width: 100%;

		transition: background-color $transition-300;

		&:hover,
		&:focus-visible {
			background-color: $blue;

			#{$root}__computer-btn-text {
				color: $white;
			}

			#{$root}__computer-plus-icon {
				color: $white;
			}
		}
	}

	&__computer-plus-icon {
		color: $blue;
		transition: color $transition-300;
	}

	&__computer-btn-text {
		color: $blue;
		font-size: $rem-087;
		line-height: 100%;
		transition: color $transition-300;
	}
}
