.socials-menu {
	@include flexCenter(row, center, unset);
	gap: 0.62rem;
	$root: &;

	&__telegram-link,
	&__whatsapp-link {
		padding: 0.75rem 0.75rem 0.75rem 0.75rem;
		border-radius: 0.5rem;
		@include flexCenter;
		position: relative;
		overflow: hidden;

		#{$root}__socials-icon {
			transition: color $transition-300;
		}

		&::after {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			inset: 0;
			background-color: $grey;
			transition: background-color $transition-300;
			z-index: -2;
		}

		&:hover,
		&:focus-visible {
			&::after {
				background-color: $grey-btn-hover;
			}

			#{$root}__socials-icon {
				color: $blue;
			}
		}
	}
}
